<%= case @current_tenant do %>
  <% "demo" -> %> <.root_demo 
              current_user={@current_user} 
              current_tenant={@current_tenant} 
              inner_content={@inner_content} 
              conn={@conn}
              />
  <% _ -> %> <.root_default 
              current_user={@current_user} 
              current_tenant={@current_tenant} 
              inner_content={@inner_content} 
              conn={@conn}
              />
<% end %>