<.header>
  New Settings
  <:subtitle>Use this form to manage settings records in your database.</:subtitle>
</.header>

<.settings_form changeset={@changeset} action={~p"/settings"} />

<.back navigate={~p"/settings"}>Back to settings</.back>
